.navbar {
  @include rem(padding, 20px 0);
}

.navbar-brand {
  @include rem(font-size, 26px);
}

.navbar-toggler {
  @include rem(font-size, 32px);

  &:after {
    content: "\F62A";
    font-family: "Bootstrap-icons";
  }

  &.collapsed {
    &:after {
      content: "\F479";
    }
  }
}

.subpage-toggler {
  position: absolute;
  background-color: transparent;
  top: 0;
  right: 0;
  border: 0;
  @include rem(line-height, 26px);

  &:after {
    content: "\F282";
    font-family: "Bootstrap-icons";
  }

  &.show {
    &:after {
      content: "\F286";
    }
  }
}

.navbar-nav {
  .nav-item {
    @include media-breakpoint-up(md) {
      @include rem(margin-right, 30px);
    }

    @include media-breakpoint-down(lg) {
      position: relative;
    }

    &:last-child {
      margin-right: 0;
    }

    .nav-link {
      padding: 0;
    }

    &.dropdown {
      .nav-link {
        @include rem(padding-right, 40px);
      }
    }
  }
}