<footer class="d-print-none">
  <div class="container">
    <div class="footer-primary">
      <ul class="footer-primary-nav">
        <li class="footer-primary-nav-item">
          <a href="#" class="footer-primary-nav-link">Terms and conditions</a>
        </li>
        <li class="footer-primary-nav-item">
          <a href="#" class="footer-primary-nav-link">Privacy statement</a>
        </li>
      </ul>
    </div>
    <div class="footer-secondary">
      <ul class="footer-secondary-nav">
        <li class="footer-secondary-nav-item">
          <span class="footer-copyright">&copy; Company name</span>
        </li>
        <li class="footer-secondary-nav-item">
          <a class="footer-secondary-nav-link" href="#" class="footer-author">Website by Agency</a>
        </li>
      </ul>
    </div>
  </div>
</footer>