<header>

  <div class="container">
    <a class="visually-hidden-focusable" href="#main">Skip to main content</a>
  </div>

  <nav class="navbar navbar-expand-md navbar-light" aria-label="site-navigation">
    <div class="container">

      <a class="navbar-brand" href="/">Launchpad</a>

      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"></button>

      <div class="navbar-collapse collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          {% for item in site.data.navigation %}
          <li class="nav-item{% if item.subpages != null %} dropdown{% endif %}">
            <a class="nav-link{% if page.url == item.url %} active{% endif %}" {% if page.url == item.url %}aria-current="page"{% endif %} href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
            {% if item.subpages != null %}
            <button class="subpage-toggler" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            </button>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for subpage in item.subpages %}
              <li>
                <a class="dropdown-item" href="{{ subpage.subhref }}">
                  {{ subpage.subtitle }}
                </a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>

    </div>
  </nav>
</header>