---
layout: default
---

<div id="HomePageCarousel" class="carousel slide carousel-fade mb-6" data-bs-ride="carousel">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#HomePageCarousel" data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true"></button>
    <button type="button" data-bs-target="#HomePageCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#HomePageCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#HomePageCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#HomePageCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

  <div class="carousel-inner">

    <div class="carousel-item active">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
      <div class="carousel-caption-custom-container">
        <div class="container">
          <div class="carousel-caption-custom">
            <h1>Example headline.</h1>
            <p>Some representative placeholder content for the first slide of the carousel.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
      <div class="carousel-caption-custom-container">
        <div class="container">
          <div class="carousel-caption-custom">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
        <div class="carousel-caption-custom-container">
          <div class="container">
            <div class="carousel-caption-custom">
              <h1>One more for good measure.</h1>
              <p>Some representative placeholder content for the third slide of this carousel.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="page" id="main">

  <div class="container">
    <div class="row">

      <div class="col-lg-6 mb-5">
        <h1 id="page-title">Welcome to this website</h1>
        {{ content }}
      </div>

      <div class="col-lg-5 offset-lg-1">

        <h3>News</h3>

        <div class="news-summary">
          <a href="#"><h4>Quality documentation</h4></a>
          <span>30/05/1988</span>
          <p>Interdum et malesuada fames ac ante ipsum primis in faucibus</p>
        </div>

        <div class="news-summary">
          <a href="#"><h4>Quality documentation</h4></a>
          <span>30/05/1988</span>
          <p>Interdum et malesuada fames ac ante ipsum primis in faucibus</p>
        </div>

        <div class="news-summary">
          <a href="#"><h4>Quality documentation</h4></a>
          <span>30/05/1988</span>
          <p>Interdum et malesuada fames ac ante ipsum primis in faucibus</p>
        </div>
        
      </div>

    </div>
  </div>

  <div class="container overflow-hidden">
    <div class="row gx-5 py-5">
      <div class="col-xl-4 col-lg-6 mb-5">
        <div class="card">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <i class="bi-collection"></i>
          </div>
          <h3>About us</h3>
          <p class="flex-grow-1">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until.</p>
          <a href="#" class="icon-link">
            Call to action
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 mb-5">
        <div class="card">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <i class="bi bi-person-circle"></i>
          </div>
          <h3>Services</h3>
          <p class="flex-grow-1">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <a href="#" class="icon-link">
            Call to action
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 mb-5">
        <div class="card">
          <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <i class="bi-toggles2"></i>
          </div>
          <h3>Contact us</h3>
          <p class="flex-grow-1">Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
          <a href="#" class="icon-link">
            Call to action
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>