html {
  background-color: #eee;
}

body {
  font-family: 'Montserrat Variable', sans-serif;
  font-weight: 400;
  @include rem(font-size, 20px);
  min-height: 100vh;
}

main {
  @include rem(padding-top, 89px);
  min-height: 100vh;
}

.page {
  @include rem(padding, 60px 0);
}

.carousel-item {
  height: 32rem;
}

.container {
  @include rem(max-width, 1600px);
  margin: 0 auto;
}

img {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}
