html {
  background-color: #eee;
}

body {
  font-family: 'Montserrat Variable', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

main {
  padding-top: 56px;
}

.page {
  @include rem(padding, 50px 0 50px 0);
}

.carousel-item {
  height: 32rem;
}

.container {
  @include rem(max-width, 1600px);
  margin: 0 auto;
}

img {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}
